@{
    @*左右布局 Ifame方式*@
    Layout = "~/Views/Shared/_Root.cshtml";
}

@*<div class="container with-side @(this.ViewBag.HasSideDetails == null ? null : "with-side-details")">

    <div class="side">
        <a class="" href="#">
            <span>SF</span>
        </a>
        @await Component.InvokeAsync("BackendMenu")
        @await Component.InvokeAsync("Navigation", new { viewName = "BootstrapTopNav", filterName = NamedNavigationFilters.FullTree, startingNodeKey = "" })
    </div>
    </div>
    @* 面包屑 *@
@*<breadcrumb asp-homepage-title="Home"
                asp-homepage-url="@Url.Action("Index", "Home")"
                asp-homepage-glyphicon="glyphicon glyphicon-home"></breadcrumb>
    <div class="content">
        @RenderBody()
    </div>*@

<div id="page-wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="navbar-header">
            <a id="hlHome" title="SF" href="./">
                <div class="logo">
                </div>
            </a>
        </div>
        <div id="zone-navigation" class="zone-instance can-configure">
            <div class="zone-configuration config-bar">
                <a class="zoneinstance-config" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                <div class="zone-configuration-bar">
                    <span>导航</span>
                    <a id="aBlockConfig-Navigation" class="zone-blocks" height="500px" href="javascript: SF.controls.modal.show($(this), '/ZoneBlocks/12/Navigation?t=Zone Blocks&amp;pb=&amp;sb=Done')" title="Zone Blocks" zone="Navigation"> <i class="fa fa-th-large"></i></a>
                </div>
            </div>
            <div class="zone-content">
                <div id="bid_321" data-zone-location="Layout" class="block-instance page-menu can-configure ">
                    <div class="block-content">
                        <div class="block-configuration config-bar">
                            <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
                            <div class="block-configuration-bar">
                                <span>菜单</span>
                                <a class="properties" height="500px" href="javascript: SF.controls.modal.show($(this), '/BlockProperties/321?t=Block Properties')" title="Block Properties"><i class="fa fa-cog"></i></a>
                                <a class="security" height="500px" href="javascript: SF.controls.modal.show($(this), '/Secure/9/321?t=Block Security&amp;pb=&amp;sb=Done')" title="Block Security"><i class="fa fa-lock"></i></a>
                                <a class="block-move block-move" href="321" data-zone="Navigation" data-zone-location="Layout" title="Move Block"><i class="fa fa-external-link"></i></a>
                                <div class="delete block-delete disabled js-disabled">
                                    <i class="fa fa-times-circle-o"></i>
                                </div>
                            </div>
                        </div>
                        <div>
                            @Html.Partial("_Menu")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="content-wrapper">
        <header>
            <!-- Brand Bar -->
            <nav class="navbar navbar-default navbar-static-top">

                <div class="navbar-header">
                    <div class="navbar-minimize">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>
                <div class="navbar-mobile-logo">
                </div>
                <div class="navbar-content">
                    <div class="navbar-zone-login pull-right">
                        <div id="zone-login" class="zone-instance can-configure">
                            <div class="zone-configuration config-bar">
                                <a class="zoneinstance-config" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                <div class="zone-configuration-bar">
                                    <span>Login</span><a id="aBlockConfig-Login" class="zone-blocks" height="500px" href="javascript: SF.controls.modal.show($(this), '/ZoneBlocks/12/Login?t=Zone Blocks&amp;pb=&amp;sb=Done')" title="Zone Blocks" zone="Login"><i class="fa fa-th-large"></i></a>
                                </div>
                            </div>
                            <div class="zone-content">
                                <div id="bid_319" data-zone-location="Layout" class="block-instance login-status can-configure">
                                    <div class="block-content">
                                        <div class="block-configuration config-bar">
                                            <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                            <div class="block-configuration-bar">
                                                <span>Login Status</span>
                                                <a class="properties" height="500px" href="javascript: SF.controls.modal.show($(this), '/BlockProperties/319?t=Block Properties')" title="Block Properties"><i class="fa fa-cog"></i></a>
                                                <a class="security" height="500px" href="javascript: SF.controls.modal.show($(this), '/Secure/9/319?t=Block Security&amp;pb=&amp;sb=Done')" title="Block Security"><i class="fa fa-lock"></i></a>
                                                <a class="block-move block-move" href="319" data-zone="Login" data-zone-location="Layout" title="Move Block"><i class="fa fa-external-link"></i></a>
                                                <div class="delete block-delete disabled js-disabled">
                                                    <i class="fa fa-times-circle-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="nav navbar-nav loginstatus">
                                            <li id="liDropdown" class="dropdown">
                                                <a class="dropdown-toggle navbar-link" href="#" data-toggle="dropdown">
                                                    <div id="divProfilePhoto" class="profile-photo" style="background-image:url(/images/marble_alisha.jpg);background-size:cover;background-repeat:no-repeat">
                                                    </div>
                                                    <span>Administrator</span><b class="fa fa-caret-down"></b>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li><a id="hlMySettings" href="/page/4312">我的设置</a></li>
                                                    <li><a id="hlMyProfile" href="/Person/1">账户管理</a></li>
                                                    <li><a href="/MyDashboard">控制台</a></li>
                                                    <li class="divider"></li>
                                                    <li><a id="lbLoginLogout">注销</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <input type="hidden" name="hfActionType" id="hfActionType" value="Logout">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navbar-zone-header divided">
                        <div id="zone-header" class="zone-instance can-configure">
                            <div class="zone-configuration config-bar">
                                <a class="zoneinstance-config" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                <div class="zone-configuration-bar">
                                    <span>Header</span>
                                    <a id="aBlockConfig-Header" class="zone-blocks" height="500px" href="javascript: SF.controls.modal.show($(this), '/ZoneBlocks/12/Header?t=Zone Blocks&amp;pb=&amp;sb=Done')" title="Zone Blocks" zone="Header"><i class="fa fa-th-large"></i></a>
                                </div>
                            </div>
                            <div class="zone-content">
                                <div id="bid_447" data-zone-location="Layout" class="block-instance smart-search can-configure">
                                    <div class="block-content">
                                        <div class="block-configuration config-bar">
                                            <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                            <div class="block-configuration-bar">
                                                <span>Smart Search</span>
                                                <a class="properties" height="500px" href="javascript: SF.controls.modal.show($(this), '/BlockProperties/447?t=Block Properties')" title="Block Properties"><i class="fa fa-cog"></i></a>
                                                <a class="security" height="500px" href="javascript: SF.controls.modal.show($(this), '/Secure/9/447?t=Block Security&amp;pb=&amp;sb=Done')" title="Block Security"><i class="fa fa-lock"></i></a>
                                                <a class="block-move block-move" href="447" data-zone="Header" data-zone-location="Layout" title="Move Block"><i class="fa fa-external-link"></i></a>
                                                <div class="delete block-delete disabled js-disabled">
                                                    <i class="fa fa-times-circle-o"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="smartsearch searchinput">
                                            <i class="fa fa-search"></i>
                                            <ul class="nav pull-right smartsearch-type">
                                                <li class="dropdown">
                                                    <a class="dropdown-toggle navbar-link" data-toggle="dropdown"><span>Name</span><b class="fa fa-caret-down"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li data-key="0" data-target="Person/Search/name/?SearchTerm={0}"><a>Name</a></li>
                                                        <li data-key="1" data-target="Person/Search/phone/?SearchTerm={0}"><a>Phone</a></li>
                                                        <li data-key="2" data-target="Person/Search/email/?SearchTerm={0}"><a>Email</a></li>
                                                        <li data-key="3" data-target="Person/Search/address/?SearchTerm={0}"><a>Address</a></li>
                                                        <li data-key="4" data-target="Group/Search/name/?SearchTerm={0}"><a>Group Name</a></li>
                                                        <li data-key="5" data-target="Business/Search/name/?SearchTerm={0}"><a>Business</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                            <span class="twitter-typeahead" style="position:relative;display:inline-block">
                                                <input class="tt-hint" type="text" autocomplete="off" spellcheck disabled style="position:absolute;top:0;left:0;border-color:transparent;box-shadow:none;background:none 0 0 / auto repeat scroll padding-box border-box transparent">
                                                <input name="searchField" type="text" id="searchField" accesskey="q" class="searchinput tt-query" autocomplete="off" spellcheck dir="auto" style="position:relative;vertical-align:top;background-color:transparent">
                                                <span style="position:absolute;left:-9999px;visibility:hidden;white-space:nowrap;font-family:OpenSans,'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-variant:normal;font-weight:400;word-spacing:0;letter-spacing:0;text-indent:0;text-rendering:auto;text-transform:none"></span>
                                                <span class="tt-dropdown-menu" style="position:absolute;top:100%;left:0;z-index:100;display:none"></span>
                                            </span><input type="hidden" name="searchField_hSearchFilter" id="searchField_hSearchFilter" value="0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            @Html.Partial("_Tabs")
            <div class="content-iframe" style="background-color: #f9f9f9; overflow: hidden;">

                <div class="mainContent" id="content-main" style="margin: 0; margin-bottom: 0px; padding: 0;">
                    <iframe class="NFine_iframe" width="100%" height="100%" src="/Home/Default" frameborder="0" data-id="/Home/Default"></iframe>
                    @RenderBody()
                </div>
            </div>

            @*@RenderBody()*@
        </main>
        <footer>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div id="zone-footer" class="zone-instance can-configure">
                        <div class="zone-configuration config-bar">
                            <a class="zoneinstance-config" href="#"><i class="fa fa-arrow-circle-right"></i></a>
                            <div class="zone-configuration-bar">
                                <span>Footer</span><a id="aBlockConfig-Footer" class="zone-blocks" height="500px" href="javascript: SF.controls.modal.show($(this), '/ZoneBlocks/5314/Footer?t=Zone Blocks&amp;pb=&amp;sb=Done')" title="Zone Blocks" zone="Footer"><i class="fa fa-th-large"></i></a>
                            </div>
                        </div>
                        <div class="zone-content">
                            <div id="bid_317" data-zone-location="Layout" class="block-instance html-content can-configure">
                                <div class="block-content">
                                    <div class="block-configuration config-bar">
                                        <a href="#"><i class="fa fa-arrow-circle-right"></i></a>
                                        <div class="block-configuration-bar">
                                            <span>Footer Text</span><a onclick="SF.admin.pageAdmin.showBlockConfig()" title="Edit HTML" class="edit"><i class="fa fa-pencil-square-o"></i></a>
                                            <a class="properties" height="500px" href="javascript: SF.controls.modal.show($(this), '/BlockProperties/317?t=Block Properties')" title="Block Properties"><i class="fa fa-cog"></i></a>
                                            <a class="security" height="500px" href="javascript: SF.controls.modal.show($(this), '/Secure/9/317?t=Block Security&amp;pb=&amp;sb=Done')" title="Block Security"><i class="fa fa-lock"></i></a>
                                            <a class="block-move block-move" href="317" data-zone="Footer" data-zone-location="Layout" title="Move Block"><i class="fa fa-external-link"></i></a>
                                            <div class="delete block-delete disabled js-disabled">
                                                <i class="fa fa-times-circle-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <p>
                                            Crafted by the <a href="http://www.sfrms.com" tabindex="0">Spark Development Network</a> / <a href="/License.aspx" tabindex="0">License</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </footer>
    </div>
</div>
@* 全局Loading Start*@
<div id="updateProgress" style="display:none;">
    <div class="updateprogress-status">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
    </div>
    <div class="updateprogress-bg modal-backdrop"></div>
</div>
@* 全局LoadingEnd *@
@* 全局弹出框Start *@
<div id="modal-popup" class="modal container modal-content sf-modal sf-modal-frame">
    <div id="modal-popup_contentPanel" class="iframe">
        <iframe id="modal-popup_iframe" scrolling="no" style="height:auto;"></iframe>
    </div>
</div>
@* 全局弹出框End *@
@* 底部工具栏Start *@
<div id="cms-admin-footer">
    <span>Page Load Time: 0.06s </span>
    <span class="margin-l-lg js-html-size-stats">Html Size: 74 KB</span>
    <div class="button-bar">
        <a class="btn block-config" href="javascript: SF.admin.pageAdmin.showBlockConfig();" title="Block Configuration"><i class="fa fa-th-large"></i></a>
        <a id="aPageProperties" class="btn properties" height="500px" href="javascript: SF.controls.modal.show($(this), '/home/Dialog')" title="Page Properties"><i class="fa fa-cog"></i></a>
        <a id="aChildPages" class="btn page-child-pages" height="500px" href="javascript: SF.controls.modal.show($(this), '/pages/12?t=Child Pages&amp;pb=&amp;sb=Done')" title="Child Pages"><i class="fa fa-sitemap"></i></a>
        <a id="aPageSecurity" class="btn page-security" height="500px" href="javascript: SF.controls.modal.show($(this), '/Secure/2/12?t=Page Security&amp;pb=&amp;sb=Done')" title="Page Security"><i class="fa fa-lock"></i></a>
        <a id="aSystemInfo" class="btn system-info" height="500px" href="javascript: SF.controls.modal.show($(this), '/SystemInfo?t=System Information&amp;pb=&amp;sb=Done')" title="SF Information"><i class="fa fa-info-circle"></i></a>
    </div>
</div>
@* 底部工具栏End *@

<script>
    $(function ($) {
        $("body").css("overflow","hidden");
        $("#content-wrapper").find('.mainContent').height($(window).height() - 100);
        $(window).resize(function (e) {
            $("#content-wrapper").find('.mainContent').height($(window).height() - 100);
        });
        $('.navbar-side > li').hover(function () {
            if (!$('body').hasClass('zone-highlight')) {
                $(this).doTimeout('hover', 250, 'addClass', 'open');
            }
        }, function () {
            $(this).doTimeout('hover', 250, 'removeClass', 'open');
        });
    });
    $(document).ready(function () {

        // enable sidbar sub menus
        $('.navbar-side li').click(function () {
            $('.navbar-side li').removeClass('open');
            $(this).addClass('open');
        });

        $('#content-wrapper').click(function () {
            $('.navbar-side li').removeClass('open');
        });

        // show/hide sidebar nav
        $('.navbar-minimize').click(function () {
            if ($('.navbar-static-side').is(":visible")) {
                $('body').addClass('navbar-side-close').removeClass('navbar-side-open');
            } else {
                $('body').addClass('navbar-side-open').removeClass('navbar-side-close');
            }
        });
    });
</script>
