<!--

  _____ _                 _      ______                                           _    
 / ____(_)               | |    |  ____|                                         | |   
| (___  _ _ __ ___  _ __ | | ___| |__ _ __ __ _ _ __ ___   _____      _____  _ __| | __
 \___ \| | '_ ` _ \| '_ \| |/ _ \  __| '__/ _` | '_ ` _ \ / _ \ \ /\ / / _ \| '__| |/ /
 ____) | | | | | | | |_) | |  __/ |  | | | (_| | | | | | |  __/\ V  V / (_) | |  |   < 
|_____/|_|_| |_| |_| .__/|_|\___|_|  |_|  \__,_|_| |_| |_|\___| \_/\_/ \___/|_|  |_|\_\
                   | |                                                                 
                   |_|                                                                   
                        
-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | SF</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    @await Component.InvokeAsync("BackendStyleSheets")
    @await Component.InvokeAsync("BackendScripts")
      @Html.Partial("_StylePartial")
</head>
<body>
       @Html.Partial("_ScriptPartial")
    @RenderBody()
    @Html.AntiForgeryToken()
    @* 全局Loading Start*@
    <div id="updateProgress" style="display:none;">
        <div class="updateprogress-status">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        <div class="updateprogress-bg modal-backdrop"></div>
    </div>
    @* 全局LoadingEnd *@
    @* 全局弹出框Start *@
    <div id="modal-popup" class="modal container modal-content sf-modal sf-modal-frame">
        <div id="modal-popup_contentPanel" class="iframe">
            <iframe id="modal-popup_iframe" scrolling="yes" style="height:auto;"></iframe>
        </div>
    </div>
    @* 全局弹出框End *@
    <script>

        $(function ($) {

            //$("body").css("overflow","hidden");
            $("#content-wrapper").find('.mainContent').height($(window).height() - 100);
            $('.navbar-side > li').find("ul").height($(window).height());
            $(window).resize(function (e) {
                $("#content-wrapper").find('.mainContent').height($(window).height() - 100);
                $(this).find("ul").height($(window).height());
            });
            $('.navbar-side > li').hover(function () {
                if (!$('body').hasClass('zone-highlight')) {
                    $(this).doTimeout('hover', 250, 'addClass', 'open');
                }
            }, function () {
                $(this).doTimeout('hover', 250, 'removeClass', 'open');
            });
        });
        $(document).ready(function () {

            // enable sidbar sub menus
            $('.navbar-side li').click(function () {
                $('.navbar-side li').removeClass('open');
                $(this).addClass('open');
            });

            $('#content-wrapper').click(function () {
                $('.navbar-side li').removeClass('open');
            });

            // show/hide sidebar nav
            $('.navbar-minimize').click(function () {
                if ($('.navbar-static-side').is(":visible")) {
                    $('body').addClass('navbar-side-close').removeClass('navbar-side-open');
                } else {
                    $('body').addClass('navbar-side-open').removeClass('navbar-side-close');
                }
            });
        });
    </script>


    @RenderSection("scripts", required: false)
    <mini-profiler position="@RenderPosition.Right" max-traces="5" />
</body>
</html>