<!--

  _____ _                 _      ______                                           _
 / ____(_)               | |    |  ____|                                         | |
| (___  _ _ __ ___  _ __ | | ___| |__ _ __ __ _ _ __ ___   _____      _____  _ __| | __
 \___ \| | '_ ` _ \| '_ \| |/ _ \  __| '__/ _` | '_ ` _ \ / _ \ \ /\ / / _ \| '__| |/ /
 ____) | | | | | | | |_) | |  __/ |  | | | (_| | | | | | |  __/\ V  V / (_) | |  |   <
|_____/|_|_| |_| |_| .__/|_|\___|_|  |_|  \__,_|_| |_| |_|\___| \_/\_/ \___/|_|  |_|\_\
                   | |
                   |_|

-->
@inject IServiceProvider serviceProvider
@{
    var hev = (IHostingEnvironment)serviceProvider.GetService(typeof(IHostingEnvironment));

}
@using Microsoft.AspNetCore.Hosting;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title | SF</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

</head>
<body class="content-body">

    <form id="form1">
        <div id="page-wrapper">
            <div id="content-wrapper" style="margin-left:0px;height:100%;min-height:100%;">
                <main>
                    测试主页
                    <br />
                    <a href="/demo">模块测试</a>
                    <br />
                    扩展模块数 @(SF.Core.ExtensionManager.Modules.Count)
                    <br />
                    
                    路径1 @( hev.ApplicationName)
                    路径2 @( hev.ContentRootPath)
                    路径3 @( hev.EnvironmentName)
                    路径4 @( hev.WebRootPath)
                </main>
            </div>
        </div>
    </form>


</body>
</html>